$fontSize: 2vw;

.appWrapper {
  display: grid;
  font-size: $fontSize;
  height: 100vh;

  grid-template-areas:
          "header header header"
          "nav main main"
          "footer footer footer";

  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-columns: 0.4fr 1fr 1fr;
}

.header{
  grid-area: header;
  background-color: #ffffff;

  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 0.4fr 1fr 0.5fr 0.5fr;

  .container{
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
    .logo{
      border-right: 1px solid #bebebe;
      height: 100%;
    }
  }
}

.nav{
  grid-area: nav;
  background-color: #ffffff;
  border-right: 1px solid #bebebe;
  height: 100%;
}

.main{
  grid-area: main;
  background-color: #d7d7d7;

  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5vw;
  height: 1fr;
  padding: 3vw;
  .container{
    background-color: #ffffff;
  }
}



.footer{
  grid-area: footer;
  background-color: #d7d7d7;

}