@import "reset", "components/mix-in", "components/Footer/Footer",
"components/Header/Header", "components/Main/Main", "components/Nav/Nav";
@font-face {
  font-family: Inconsolata;
  src: url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@200);
}

*{
  box-sizing: border-box;
}

.appWrapper {
  font-family: Inconsolata;
  display: grid;
  font-size: $fontSize;
  height: 100vh;
  background-color: #d7d7d7 ;

  grid-template-areas:
          "header header header"
          "nav main main"
          "footer footer footer";

  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-columns: 0.4fr 1fr 1fr;
}