@import "src/components/mix-in";

.Nav{
  z-index: 3;
  grid-area: nav;
  background-color: $mainWhiteColor;
  border-right: 1px solid #e0e0e0;
  height: 100%;

  border-radius: 0 0 1vw 0;
  @include container-shadow;
}